<p>
  bind works!
</p>
<button (click)="doOnClick($event)">点我</button>
<br>
<img [src]="imgUrl" alt="">
<br>
<img src="{{imgUrl}}" alt="">
<br>

<input type="text" value="Tom" (input)="doOnInput($event)">
<br>
<!--只要出现disable 初始化为true-->
<!--属性是无关紧要的-->
<!--少量的html属性和dom属性之间有着一对一的映射-->
<!--有些html属性没有对应的dom属性-->
<!--有些dom属性没有对应的html属性-->
<!--html属性的值指定了初始值-->
<!--dom属性指定了当前值-->
<!--dom属性的值可以改变 html属性的值不能改变-->
<!--模板的绑定是通过dom属性和时间来工作的 而不是html属性-->
<!--差值表达式是dom属性绑定-->

<button disabled>点我</button>



<!--html属性绑定-->
<table>
  <tr>
    <td [attr.colspan]="size">Hello World</td>
  </tr>
</table>

<!--样式全有或者全无-->
<div class="a b" [class.c]="isBlog">
  慕课网
</div>

<div [ngClass]="divClass">

</div>
