<!--html支持的标准form表单验证：：：：-->
<!--<form action="/regist" method="post">-->
  <!--<div>用户名: <input type="text" required pattern="[a-ZA-Z0-9]+"></div>-->
  <!--<div>手机号: <input type="text"></div>-->
  <!--<div>邮政编码： <input type="number" min="10000" max="999999"></div>-->
  <!--<div>密码: <input type="password"></div>-->
  <!--<div>确认密码: <input type="password"></div>-->
  <!--<button type="submit">注册</button>-->
<!--</form>-->
<app-template-form></app-template-form>

<!--传统的form表单处理是这样的-->
<!--//但是在angular下-->
<!--//模板式表单-->
  <!--//表单的数据模型是通过组件的模板中的相关指令来进行定义的。因为使用这种方式定义表单的数据模型时，会受限于HTML的语法，-->
  <!--//所以模板驱动式只适合于一些简单的场景-->

<!--//响应式表单-->
  <!--//使用响应式表单时通过编写typescript代码而不是html代码来创建一个底层的数据模型-->
  <!--//在这个模型定义好以后，使用一些特定的指令 将模板上的html元素和底层的数据模型连接起来-->
<!--//数据模型并不是一个任意的对象 它是一个由angular/forms模块中的一些特定的类，-->
<!--//如FormControl，FormGroup，FormArray等组成的 ，在模板式表单中 是不能直接访问到这些类的-->
<!--//响应式表单并不会替你生成html 模板仍然需要你自己来编写-->
