<form action="" name="searchForm">
  <div class="form-group">
    <label for="" id="productTitle">商品名称：</label>
    <input type="text" id="productTitle" placeholder="商品名称" class="form-control">
  </div>
  <div class="form-group">
    <label for="" id="productPrice">商品价格</label>
    <input type="number" id="productPrice" placeholder="商品价格" class="form-control">
  </div>
  <div class="form-group">
    <label for="" id="productCategory">商品类别</label>
    <select name="" id="productCategory" class="form-control"></select>
  </div>
  <div class="form-group">
    <button class="btn btn-primary btn-block" type="submit">搜索</button>
  </div>
</form>