<form #myForm="ngForm" (ngSubmit)="onSubmit(myForm.value)" novalidate>
  <div>用户名: <input ngModel required minlength="6" name="username" type="text"></div>
  <div>手机号: <input ngModel mobile name="mobile" type="number"></div>
  <div>邮政编码： <input type="number"></div>
  <div ngModelGroup="passwordsGroup" equal>
    <div>密码: <input ngModel minlength="6" name="password" type="password"></div>
    <div>确认密码: <input ngModel name="pconfirm" type="password"></div>
  </div>

  <button type="submit">注册</button>
</form>
<!--<div>-->
  <!--{{myForm.value | json}}-->
<!--</div>-->
<!--ngForm指令会拦截标准html表单提交事件-->
