<div class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="item active">
      <img src="http://placehold.it/800x300" class="slide-image" alt="">
    </div>
    <div class="item">
      <img src="http://placehold.it/800x300" class="slide-image" alt="">
    </div>
    <div class="item">
      <img src="http://placehold.it/800x300" class="slide-image" alt="">
    </div>
  </div>
  <a href="javascript:$('.carousel').carousel('prev')" class="left carousel-control" >
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a href="javascript:$('.carousel').carousel('next')" class="right carousel-control" >
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
  <ol class="carousel-indicators">
    <li class="active"></li>
    <li></li>
    <li></li>
  </ol>
</div>